$("#div_sin_orden").hide();
$("#agregar_articulo_1").show();
$(".add_articles").show();
$("#articulos_pedidos").append('<table class="table" id="lista_articulos_orden"><tr><th>Artículo</th><th>Cant.</th><th>Subtotal</th></tr></table>');
 